html,body,#photosphere {
    margin: auto;
    width: 100%;
    height: 100%;
}

.center {
    text-align: center;
    list-style-position: inside;
}

.help {
    text-align: center;
    list-style-position: inside;
    font-family: Arial, sans-serif;
}

ol.center li {
    text-align: left;
    margin-left: 1px;
}

/*ol {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}*/
.overlay{
    text-align: center;
    font-size: 70%;
    font-family: Arial, sans-serif;
    /*font-family: Tahoma;*/
}

a:link {
    color: rgba(255, 255, 255, 0.7);
    font-family: Arial, sans-serif;
    /*background-color: transparent;*/
    text-decoration: none;
}

a:visited {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-family: Arial, sans-serif;
}

a:hover {
    /*color: rgba(255, 255, 255, 1);*/
    color: rgba(211, 90, 66, 0.967);
    /*background-color: transparent;*/
    font-family: Arial, sans-serif;
}

a:active {
    text-decoration: underline;
}

/*
.help1:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
        text-decoration: underline;
    font-family: Arial, sans-serif;
}*/

